body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}


header {
  background-color: #0a0a1a;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}


h1 {
  margin-top: 30px;
  color: #d9534f;
}

h2 {
  color: #0a0a1a;
  margin-top: 25px;
  text-align: center;
}


p {
  font-size: 18px;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.6;
  color: #333;
}


ol,
ul {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}

li {
  margin-bottom: 10px;
}


img {
  width: 500px;
  height: auto;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Google map iframe */
iframe {
  margin-top: 20px;
  width: 800px;
  border-radius: 10px;
  border: 2px solid #0a0a1a;
}

/* Back to home link */
a {
  display: inline-block;
  margin: 30px 0;
  font-weight: bold;
  text-decoration: none;
  color: #0a0a1a;
}

a:hover {
  color: #d9534f;
}